@{
    ViewData["Title"] = "About";
}

<div class="container">
<div class="col-md-12">
	<div class="team">
            <div class="welcome">
            <div class="agileits_heading_section">
                        <h3 class="wthree_head">Team</h3>
                        <p class="agileinfo_para">We are a small development team; open source and open to new devel</p>
                    </div>
            <div class="w3ls_news_grids w3_agileits_team_grids"> 
                <div class="col-md-6 w3_agileits_team_grid"> 
                    <div class="w3layouts_news_grid">
                        <img src="~/images/nicole2.jpg" alt=" " class="img-fluid" />
                        <div class="w3layouts_news_grid_pos">
                            <div class="wthree_text agileinfo_about_text">
                                <ul class="agileits_social_list">
                                    <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h4>Nicole Berroa</h4>
                    <p>Founder</p>
                </div>
                <div class="col-md-6 w3_agileits_team_grid"> 
                    <div class="w3layouts_news_grid">
                        <img src="~/images/scotty5.jpg" alt=" " class="img-fluid" />
                        <div class="w3layouts_news_grid_pos">
                            <div class="wthree_text agileinfo_about_text">
                                <ul class="agileits_social_list">
                                    <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h4>Jonathan Portorreal</h4>
                    <p>Senior Developer</p>
                </div>
                <div class="clearfix"> </div>
            </div>
    </div>
	</div>
</div>
	</div>